body {
    font-family: RadioCanadaBig;
    background-color: #e2d7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF8F3;
    padding: 20px;
    margin: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF8F3;
    padding: 20px;
    margin: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    padding-top: 50px;
    text-align: center;
    color: #a98319;
    font-size: 1.4em;
    font-family:Sans-Serif ;
}
h2{ font-size: 1.4em; text-align: center; font-family:Sans-Serif ;color: #282d1d;}
nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    margin-top: 30px;
    text-decoration: none;
    color: #a98319;
    font-size: 1em;
    display: block;
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family:Open Sans;
}

a:hover {
    background-color: #e6f0ff;
    border-color: #FAF8F3;
    
}
p{ font-size: 1.25em; text-align: justify; margin: 5%;font-family:Monospace;}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form1 input{
    
    color:#242424 ;
}
.form1 input{
    width: 94% ;
    height: 20%;
    background: transparent;
    
    outline: none;
    border: 2px soid #595959(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color:#242424;
    padding: 20px 45px 20px 20px;
}

input {
    padding: 10px;
    margin: 30px;
    width: 50%;
    border: 1px solid #111111;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    padding: 10px;
    margin: 30px;
    border: 1px solid #111111;
    border-radius: 5px;
    font-size: 1em;
}


button {
    padding: 10px;
    margin: 30px;
    border: 1px solid #111111;
    border-radius: 5px;
    font-size: 1em;
    background-color: #a0926c;
    color: #181717;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #c8d9e694;
}

.input input ::placeholder{

    color:#242424 ;
}